@import url("https://fonts.googleapis.com/css2?family=Inter:wght@400;500;600;700;800;900&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Bebas+Neue&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap");

@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
  font-family: "BuiltTitling";
  src: url("./assets/fonts/built titling bd it.otf") format("opentype");
  font-weight: bold;
  font-style: italic;
}

@font-face {
  font-family: "timberwolf";
  src: url("./assets/fonts/TimberWolf-Regular.ttf") format("opentype");
  font-weight: bold;
  font-style: italic;
}

@layer base {
  html,
  body {
    height: 100dvh;
    margin: 0;
    padding: 0;
  }

  #root {
  }

  .font-builttitling {
    font-family: "BuiltTitling", sans-serif;
    font-weight: 400;
    letter-spacing: 0.05em;
  }

  .font-titling {
    font-family: "Bebas Neue", sans-serif;
    font-weight: 400;
    letter-spacing: 0.05em;
  }

  .font-timberwolf {
    font-family: "timberwolf", sans-serif;
    font-weight: 400;
    letter-spacing: 0.05em;
  }
}

@layer utilities {
  @keyframes shimmer {
    0% {
      transform: translateX(-100%);
    }
    100% {
      transform: translateX(100%);
    }
  }

  @keyframes scale-in {
    0% {
      transform: scale(0.8);
      opacity: 0;
    }
    100% {
      transform: scale(1);
      opacity: 1;
    }
  }

  @keyframes spin-slow {
    from {
      transform: rotate(0deg);
    }
    to {
      transform: rotate(360deg);
    }
  }
}

@theme {
  --breakpoint-xs: 30rem;
  --breakpoint-2xl: 100rem;
  --breakpoint-3xl: 120rem;
}

.scrollbar-hide {
  -ms-overflow-style: none; /* IE y Edge */
  scrollbar-width: none; /* Firefox */
}
